body{
    background-color: rgb(25, 109, 109);
    
}

main{
    align-items: center;
}

.container {
    color: blueviolet solid;
}

.imagen_fija{
    width: 98%;
}

.headertitulo{
    position: relative;
    display: flex;
    bottom: 83px;
    left: 165px;
    color: black;
}
.news{
    text-align: center;
    text-decoration: underline;
    color: black;
    
}
.phishing{
    text-align: center;
    color: black;
}

.somosetiqueta{
    position: relative;
    display: flex;
    bottom: 125px;
    left: 1080px;
    color: rgb(38, 7, 56);
}

.somosetiqueta:hover {
    color: rgb(193, 155, 211);
}
.noticiasetiqueta:hover{
color: rgb(193, 155, 211);}


.noticiasetiqueta{
    position: relative;
    display: flex;
    bottom: 149px;
    left: 1200px;
    color: rgb(38, 7, 56);
}

.link{
    color: black;
}


.soportelink{
    color: black;
}


.noticiasfooterlink{
 color: black;   
}


.foroslink{
    color: black;
}


.YouTube{
    color: rgb(255, 0, 0);
}
.whatsapp{
    color: rgb(98, 179, 16);
}
.instagram{
    color: rgb(247, 0, 230);
}
.twitter{
    color: rgb(0, 255, 255);
}

.facebook {
    color: blue;
}

.correo{
    color: red;
}

.discord{
    color: rgb(99, 82, 194);
}

/*intento de personalizacion de modal*/
.contenedor-modal{
    text-align: center;
    padding: 10px;
}

.modal-title{
    color: rgb(198, 47, 47);
    align-items: center;
    
}

.imagen_fija{
    margin: 10px;
    align-items: center;
    width: 100%;
}

.contenedor_del_header{
    border: black solid 0px 0px 51px 0px;
    background-color: rgb(8, 61, 63);
    width: 100%;
}

.footerr{
    background-color: rgb(49, 49, 53);
}

.texto_del_footer{
    color: rgb(255, 255, 255);
}

.carta{
   margin-left: 290px;
}

.candado{
    position: relative;
    display: flex;
    margin: auto;
}
/*-------------------CARRUSEL-------------------------------*/
#carouselExampleIndicators{
    width: 900PX;
    display: flex;
    left: 235px;
}