.vscode/

# Dependencias
node_modules/

# Build
dist/
dist-ssr/
*.local

# Variables de entorno
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*